* {
    box-sizing: border-box;
}

#content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(100px, auto);
  /*max-width: 960px;*/
  margin: 0 auto;
  grid-gap: 20px;
  grid-template-areas: "head head head head head head head head head head head head"
                       "nav nav nav nav nav nav nav nav nav nav nav nav"
                       "main main main main main main main main main main main main"
                       "foot foot foot foot foot foot foot foot foot foot foot foot"
}



header {
  grid-area: head;
  /*border: 1px solid black;*/
  text-align: center;
}
.title h1 {
  font-family: 'Niconne', cursive;
  padding: 30px;
}

nav {
  grid-area: nav;
  /*border: 1px solid black;*/
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.7);
}

.nav-top a {
  font-style: italic;
  color: #3469BF;
  font-size: 20px;
  font-weight: 550;
}


main {
  grid-area: main;
  max-width: 960px;
  margin: 0 auto;
}


footer {
  grid-area: foot;
}

.foot {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  grid-gap: 10px;
}

.foot p {
  font-size: 10px;
}

.booking-options {
  padding-top: 20px;
}


.booking-options h5 {
  font-style: italic;
  text-decoration: underline;
  font-family: 'Niconne', cursive;
}


.booking-options p {
  font-family: 'Catamaran', sans-serif;
}


.locations {
  padding-top: 20px;
}


.locations h5 {
  font-style: italic;
  text-decoration: underline;
  font-family: 'Niconne', cursive;
}


.locations p {
  font-family: 'Catamaran', sans-serif;
}


.email {
  padding-top: 20px;
}


.email h5 {
  font-style: italic;
  text-decoration: underline;
  font-family: 'Niconne', cursive;
}


.email p {
  font-family: 'Catamaran', sans-serif;
}


.social-media{
  padding-top: 20px;
}


.social-media h5 {
  font-style: italic;
  text-decoration: underline;
  font-family: 'Niconne', cursive;
}


.tax-info {
  padding-top: 20px;
}


.tax-info h5 {
  font-style: italic;
  text-decoration: underline;
  font-family: 'Niconne', cursive;
}


/*----------------------*/
/*----index.html css----*/
/*----------------------*/

.index-content {
  font-size: 80px;
  font-family: 'Lobster', cursive;
  color: #186D6E;
  text-shadow: #ffffff 3px 3px 0px, rgba(0, 0, 0, 0.2) 6px 6px 0px;
  text-align: center;
  padding-top: 60px;
}

.empty-box {
  display: grid;
  grid-template-rows: 200px;
}



/*----------------------------*/
/*----condos.html css---------*/
/*----------------------------*/

.condos-block {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 40px;
  /*background-color: rgba(255, 255, 255, 0.7);*/

}

.condos-title {
  /*grid-row: 1/3;*/
  grid-column: 1/12;
  font-family: 'Niconne', cursive;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7)
}


.kkn-box {
  /*grid-row: 3;*/
  grid-column: 1/12;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 5px 5px 5px black;
}

.kkn-box img {
  width: 100%;
  height: auto;
}

.kkn-box-content {
  padding: 20px;
}

.kkn-box h4 {
  font-family: 'Niconne', cursive;
}



.ps-box {
  /*grid-row: 5;*/
  grid-column: 1/12;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 5px 5px 5px black;
}

.ps-box-content {
  padding: 20px;
}

.ps-box h4 {
  font-family: 'Niconne', cursive;
}

.ps-box img {
  width: 100%;
  height: auto;
}




/*------------------*/
/*-----kkn page-----*/
/*------------------*/

.kkn-content {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 1rem;
  /*background-color: rgba(255, 255, 255, 0.85);*/
}

.kkn-content h3 {
  font-family: 'Niconne', cursive;

}

.kkn-description {
  grid-row: 1;
  grid-column: 1/12;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  /*font-size: 14px;*/
  /*font-weight: 500;*/
  background-color: rgba(255, 255, 255, 0.85)
}



.kkn-video {
  grid-column: 3/10;
  align-self: center;
  justify-self: center;
}

.kkn-photos {
  grid-column: 1/12;
  border: 1px solid black;
}

.kkn-info {
  grid-column: 1/12;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0.85)
}

.kkn-map {
  grid-column: 3/10;
  justify-self: center;
}


/*-----------------*/
/*-----ps page-----*/
/*-----------------*/

.ps-content {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 1rem;
  /*background-color: rgba(255, 255, 255, 0.85);*/
}

.ps-content h3 {
  font-family: 'Niconne', cursive;
}

.ps-description {
  grid-row: 1;
  grid-column: 1/12;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0.85)
}

.ps-video {
  grid-column: 3/10;
  align-self: center;
  justify-self: center;
}

.ps-photos {
  grid-column: 1/12;
  border: 1px solid black;
}

.ps-info {
  grid-column: 1/12;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0.85)
}

/*----------------------*/
/*-----beaches page-----*/
/*----------------------*/

.beaches-block {
  display: grid;
  grid-gap: 30px;
  padding-top: 60px;
}


/*---cards css---*/
.card-block {
  display: grid;
  grid-gap: 30px;
  padding-top: 60px;
}

.card {
  box-shadow: 5px 5px 5px black;
}

.card-body h4 {
  font-family: 'Niconne', cursive;
  font-size: 32px;
  font-weight: 500;
}

.card-body p {
  font-family: Arial, Helvetica, sans-serif;
}



/*---------------------------------*/
/*-----south maui beaches page-----*/
/*---------------------------------*/



/*---------------------*/
/*-----beach nav-------*/
/*---------------------*/
.beach-nav-title {
  text-align: center;
  font-family: 'Niconne', cursive;
}

.beach-nav a {
  font-size: 15px;
}


/*-------------------*/
/*---info pages---*/
/*-------------------*/
.info-block {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 1rem;
}


.info-content {
grid-column: 1/12;
background-color: rgba(255, 255, 255, 0.85);
padding: 20px;
font-family: Arial, Helvetica, sans-serif;
margin-top: 40px;
}

.info-content h2 {
  grid-column: 4/9;
  font-family: 'Niconne', cursive;
  font-weight: 550;
}

.info-map {
  grid-column: 3/10;
  justify-self: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.info-photos {
  grid-column: 1/12;
  box-shadow: 5px 5px 5px black;
  margin-top: 40px;
}



/*-------------------------------*/
/*-----kamaole beaches page------*/
/*-------------------------------*/

/*
.kamaole-beaches-block {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 1rem;
}


.kamaole-beaches-info {
grid-column: 1/12;
background-color: rgba(255, 255, 255, 0.85);
padding: 20px;
font-family: Arial, Helvetica, sans-serif;
}

.kamaole-beaches-info h2 {
  grid-column: 4/9;
  font-family: 'Niconne', cursive;
  font-weight: 550;
}

.kamaole-beaches-map {
  grid-column: 3/10;
  justify-self: center;
}

.kamaole-beaches-photos {
  grid-column: 1/12;
  box-shadow: 5px 5px 5px black;
}
*/

/*------------------------------*/
/*-----keawakapu beach page-----*/
/*------------------------------*/
/*
.keawakapu-block {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 1rem;
}


.keawakapu-info {
grid-column: 1/12;
background-color: rgba(255, 255, 255, 0.85);
padding: 20px;
font-family: Arial, Helvetica, sans-serif;
}

.keawakapu-info h2 {
  grid-column: 4/9;
  font-family: 'Niconne', cursive;
  font-weight: 550;
}

.keawakapu-map {
  grid-column: 3/10;
  justify-self: center;
}

.keawakapu-photos {
  grid-column: 1/12;
  box-shadow: 5px 5px 5px black;
}

*/
/*-------------------------*/
/*-----ulua beach page-----*/
/*-------------------------*/
/*
.ulua-block {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 1rem;
}


.ulua-info {
grid-column: 1/12;
background-color: rgba(255, 255, 255, 0.85);
padding: 20px;
font-family: Arial, Helvetica, sans-serif;
}

.ulua-info h2 {
  grid-column: 4/9;
  font-family: 'Niconne', cursive;
  font-weight: 550;
}

.ulua-map {
  grid-column: 3/10;
  justify-self: center;
}

.ulua-photos {
  grid-column: 1/12;
  box-shadow: 5px 5px 5px black;
}


*/
/*--------------------------------*/
/*-----west maui beaches page-----*/
/*--------------------------------*/
/*
.west-beaches-block {
  display: grid;
  grid-gap: 30px;
  padding-top: 60px;

}

*/
/*---------------------------------*/
/*-----north maui beaches page-----*/
/*---------------------------------*/
.north-beaches-block {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 1rem;
}


.north-beaches-info {
grid-column: 1/12;
background-color: rgba(255, 255, 255, 0.85);
padding: 20px;
font-family: Arial, Helvetica, sans-serif;
}

.north-beaches-info h2 {
  grid-column: 4/9;
  font-family: 'Niconne', cursive;
  font-weight: 550;
}

.north-beaches-map {
  grid-column: 3/10;
  justify-self: center;
}

.north-beaches-photos {
  grid-column: 1/12;
  box-shadow: 5px 5px 5px black;
}


/*---whale watching page---*/
.whale-video {
  grid-column: 3/10;
  justify-self: center;
  margin-top: 20px;
}
