{% extends 'base.html' %}
{% load static %}

{% block title %} Condos {% endblock %}

{% block additional_styles %}
<style>
body {
  font-family: arial;
  background: url({% static 'imgs/condos/kam_morning.jpg' %}) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
{% endblock %}

{%  block body_block %}
<div class="condos-block">
  <h2></h2>
  <div class="kkn-box">
    <a href="{% url 'kkn' %}">
      <img src="{% static 'imgs/condos/kkn_bedroom.jpg' %}" alt="KKN Bedroom">
    </a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
    </p>
  </div>

  <div class="ps-box">
    <img src="{% static 'imgs/condos/ps_bedroom.jpg' %}" alt="PS Bedroom">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
    </p>


</div>
{% endblock %}


<!---<div class="condos-content">
  <h3>Warmest Aloha!</h3>
  <p>We take great pride in not only providing a comfortable place for our
    guests to stay, but also making sure our guests have a great time visiting
     the "Valley Isle!"  Along with information and details about our condos,
     this website also provides first hand knowledge and experience about Maui
     that can help those that are contemplating a trip to Maui and for those
     who have already booked their trips to Maui.<br>
     <br>
     There are so many exciting things to do and see in Maui and there are
     still several adventures and sights we haven't taken in yet!  Activities
     like helicopter rides, scuba diving, hiking the Lahaina Pali trail and
     visiting O'o Farm in Kula are just a few of the items we've yet to check
     off our to-do list. <br>
     <br>
     So please explore our website to discover our personal favorite beaches,
     places to visit, activities to do around the island and our favorite places
     to eat.  We hope our pictures and videos provide you inspiration and fill
     you with the Aloha Spirit!<br>
     <br>
     If you would like to inquire about any one of our condos, view our
     availability calendars and read our guest reviews, please visit our VRBO
     listings: <br>
     <br>
     Kihei Kai Nani<br>
     <a href="https://www.vrbo.com/406623">www.vrbo.com/406623</a>
     <br>
     <br>
     Pacific Shores<br>
     <a href="https://www.vrbo.com/858569">www.vrbo.com/858569</a>
     <br>
     <br>
     Warmest Mahalo!<br>
     Jeremy, Jessica and Kalia<br>
     <br>
     *All pictures and videos on this site were personally taken by us on our
     Maui trips!
   </p>

</div>

<div class="kkn-picture-block">
  <img src="{% static 'imgs/condos/kkn_bedroom.jpg' %}" alt="KKN Bedroom">
  <h3>Kihei Kai Nani #130</h3>


</div>

<div class="ps-picture-block"></
div--->
