<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous">
    <title>{% block title %} Base {% endblock %}</title>
{% block additional_styles %}
<style>
body {
  font-family: arial;
  background: url({% static 'imgs/index/palm_trees_sunglow.jpg' %}) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
{% endblock %}

  </head>
  <body>

    <div class="wrapper">
      <div class="title">Stay In Kihei</div>

      <div class="nav-top">
        <ul class="nav nav-fill">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'index' %}">Welcome</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'condos' %}">Condos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'beaches' %}">Beaches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'activities' %}">Activities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'places_to_eat' %}">Places To Eat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'more_maui_info' %}">More Maui Info</a>
          </li>
        </ul>
      </div>

      <div class="footer">

        <div class="booking-options">
            <h3>Reservations</h3>
            <p>Kihei Kai Nani<br>
              <a href="https://www.vrbo.com/406623">www.vrbo.com/406623</a><br>
              <br>
              Pacific Shores<br>
              <a href="https://www.vrbo.com/858569">www.vrbo.com/858569</a>
            </p>
        </div>

        <div class="locations">
            <h3>Find Us</h3>
            <p>
              Kihei Kai Nani<br>
              2495 S Kihei Rd<br>
              Kihei, HI 96753<br>
              <br>
              Pacific Shores<br>
              2219 S Kihei Rd<br>
              Kihei, HI 96753
            </p>
        </div>



        <div class="email">
          <h3>Email Us</h3>
          <p>jeremy@stayinkihei.com</p>
        </div>

      <div class="social-media">Facebook/Youtube</div>

  </div>
  {% block body_block %}
  {% endblock %}


  </body>
</html>
